.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text {
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  text-transform: uppercase;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-image {
  width: 200px;
  object-fit: cover;
}
.home-image1 {
  width: 200px;
  object-fit: cover;
}
.home-link {
  display: contents;
}
.home-text1 {
  color: var(--dl-color-primary-100);
  font-size: 20px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-decoration: none;
}
